<div>
  <div class="popup-photo">
    <img src="<%= pin.photo.attached? ? cl_image_path(pin.photo.key) : "https://res.cloudinary.com/dcqlc61be/image/upload/v1701220410/basho-placeholder_pewcwm.jpg"%>" style="object-fit: cover; width: 100vh;">
    <div class="popup-icon">
      <i class='fa-solid fa-<%= pin.icon %> popup-icon2'></i>
    </div>
  </div>
  <div class="bg-white p-4">
    <h2><%= pin.name %></h2>
    <p><%= pin.address %></p>
    <div class="d-flex justify-content-flex-start gap-1">
      <% tags = pin.tag_list %>
      <% tags.each do |tag| %>
        <div class="tags"><%= tag %></div>
      <% end %>
    </div>
    <div class="d-flex justify-content-end gap-3">
      <div class="btn-sort">
        <%= link_to pin_path(pin.id) do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
      </div>
      <div class="btn-sort">
        <%= link_to edit_pin_path(pin.id) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
