<!--<section class="place-info">
  <div class="bar-image popup-photo">
    <%= cl_image_tag pin.photo.key, crop: :fill %>
  </div>
  <div class="bar-details">
    <h1><%= pin.name %></h1>
    <p><%= pin.address %></p>
    <div class="justify-content-end">
      <% pin.rating.to_i.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
      <% pin.blank_stars.times do %>
        <i class="fa-regular fa-star"></i>
      <% end %>
    </div>
  </div>
</section> -->
<div>
  <div class="popup-photo">
    <img src="<%= cl_image_path pin.photo.key%>" style="object-fit: cover; width: 100vh;">
    <div class="popup-icon">
      <i class='fa-solid fa-<%= pin.icon %> popup-icon2'></i>
    </div>
  </div>
  <div class="bg-white p-4">
    <h2><%= pin.name %></h2>
    <p><%= pin.address %></p>
    <div class="d-flex justify-content-flex-start gap-1">
      <% tags = pin.tag_list %>
      <% tags.each do |tag| %>
        <div class="tags"><%= tag %></div>
      <% end %>
    </div>
    <div class="d-flex justify-content-end gap-3">
      <div class="btn-sort">
        <%= link_to pin_path(pin.id) do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
      </div>
      <div class="btn-sort">
        <%= link_to edit_pin_path(pin.id) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
