<div>
  <div class="popup-photo">
    <img src="<%= pin.photo.attached? ? cl_image_path(pin.photo.key) : "https://res.cloudinary.com/dcqlc61be/image/upload/v1701220410/basho-placeholder_pewcwm.jpg"%>" style="object-fit: cover; width: 100vh;">
    <div class="popup-icon">
      <i class='fa-solid fa-<%= pin.icon %> popup-icon2'></i>
    </div>
  </div>
  <div style="padding: 5px;">
    <div class="card-body">
      <blockquote class="blockquote mb-">
        <p>
          <h2 class="card-title"><%= pin.name %></h2>
        </p>
        <p class="border-bottom border-top border-dark" style="font-size: 15px;"><%= pin.address %></p>
      </blockquote>
    </div>
    <div>
      <ul class="p-3">
        <% tags = pin.tag_list %>
        <% tags.each do |tag| %>
          <li class="tags"><%= tag %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
