<div class="map-list-views <%= 'show-list' if params[:view] == "list" %>">
  <div class="d-flex justify-content-center bg-gray fixed-top">
    <%= link_to pins_path_with_params(view: 'map') do  %>
      <%= button_tag "map", class: "btn-toggle btn-toggle-map" %>
    <% end %>
    <%= link_to pins_path_with_params(view: 'list') do  %>
      <%= button_tag "list", class: "btn-toggle btn-toggle-list" %>
    <% end %>
  </div>
  <div data-controller="filters">
    <div class="d-flex justify-content-between mx-2">
      <div class="btn-filters" data-action="click->filters#showFilters">
        <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
      </div>
      <div class="btn-filters list-container">
        <%= link_to pins_path_with_params(view: 'list'), data: {"controller": "geolocate"} do  %>
          <i class="fa-solid fa-location-crosshairs" style="color: #ffffff;"></i>
        <% end %>
      </div>
    </div>
    <div class="d-none" data-filters-target="filtersCard">
      <div class="px-4 pt-2">
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name or comment" %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
        <div class="d-flex justify-content-center pt-2 gap-2">
          <div>
            <%= link_to pins_path_with_params(visited: 1), data: {"controller": "geolocate"} do  %>
              <%= button_tag "Visited", class: "btn btn-primary" %>
            <% end %>
          </div>
          <div>
            <%= link_to pins_path_with_params(visited: 0), data: {"controller": "geolocate"} do  %>
              <%= button_tag "Not visited", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container position-fixed" style="width: 100%; height: 850px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="container">
    <%= link_to new_pin_path(:lat => params[:lat], :lon => params[:lon]), data: {"controller": "get-position"} do %>
      <button class="btn btn-primary circle-button d-flex fixed-bottom" style="font-size: 50px;">
        +
      </button>
    <% end %>
  </div>

  <div class="list-container">
    <main class="px-4">
<%# SORTING %>
      <div class="d-flex justify-content-center pt-2 gap-2">
        <div>
          <p>Sort by:</p>
        </div>
        <div class="btn-filters list-container" >
          <%= link_to pins_path_with_params(sort_by: :name), data: {"controller": "geolocate"} do  %>
            <i class="fa-solid fa-arrow-down-a-z" style="color: #ffffff;"></i>
          <% end %>
        </div>
        <div class="btn-filters list-container" >
          <%= link_to pins_path_with_params(sort_by: :date), data: {"controller": "geolocate"} do  %>
            <i class="fa-solid fa-calendar-plus" style="color: #ffffff;"></i>
          <% end %>
        </div>
        <div class="btn-filters list-container" >
          <%= link_to pins_path_with_params(sort_by: number_with_precision(pins(id).distance_to(@here), precision: 2)), data: {"controller": "geolocate"} do  %>
            <i class="fa-solid fa-compass-drafting" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>
<%# END SORTING %>
      <div class="row justify-content-center">
        <% @pins.each do |pin| %>
          <div class="col-lg-auto">
            <div class="col-12 col-md-6 card mb-9 shadow my-2 p-0" >
              <div class="card-product">
                <% if pin.photo.attached? %>
                  <%= cl_image_tag pin.photo.key, crop: :fill %>
                <% else %>
                  <%= image_tag "jouls.jpg", class: "", alt: "Card image cap", height: "60", crop: :fill %>
                <% end %>
                <div class="card-product-infos">
                  <p class="card-text"><%= number_with_precision(pin.distance_to(@here), precision: 2) %> km</p>
                  <h5 class="card-title"><%= truncate(pin.name, :length => 15) %></h5>
                  <p class="card-text"><%= truncate(pin.address, :length => 30) %></p>
                </div>
                <%= link_to '', pin_path(pin.id), class: 'card-link' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>
