<div>
  <main class="p-4">
    <h2>My Pins</h2>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name or comment" %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= hidden_field_tag(:sortbyname, 1) %>
          <%= submit_tag "Sort by name", name: "", class: "btn btn-primary" %>
        <% end %>
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= hidden_field_tag(:sortbydate, 1) %>
          <%= submit_tag "Sort by date", name: "", class: "btn btn-primary" %>
        <% end %>
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= hidden_field_tag(:visited, 1) %>
          <%= submit_tag "Visited", name: "", class: "btn btn-primary" %>
        <% end %>
        <%= form_with url: pins_path, method: :get, class: "d-flex" do %>
          <%= hidden_field_tag(:notyetvisited, 1) %>
          <%= submit_tag "Not visited", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @pins.each do |pin| %>
        <div class="col-lg-auto">
          <div class="card mb-9 shadow mx-auto my-2" style="width: 80%;">
            <div class="card-body">
              <h5 class="card-title"><%= pin.name %></h5>
              <p class="card-text"><%= pin.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# TO DELETE!!!! ONLY TO TEST SCROLLING %>
    <h2>To delete</h2>
    <div class="row justify-content-center">
      <% @pins.each do |pin| %>
        <div class="col-lg-auto">
          <div class="card mb-9 shadow mx-auto my-2" style="width: 80%;">
            <div class="card-body">
              <h5 class="card-title"><%= pin.name %></h5>
              <p class="card-text"><%= pin.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# END OF: TO DELETE!!!! ONLY TO TEST SCROLLING %>
  </main>
</div>
