<div class="col-12 col-sm-6">
  <div class="p-3" data-controller="toggle-form">
    <h1>New pin</h1>
    <br>
    <%= simple_form_for(@pin) do |f| %>
      <%= f.input :name %>
      <%= f.input :address, input_html: { id: "showAddress"} %>
      <%= f.input :use_current_location, as: :boolean, input_html: { class: "toggle", :data => { action: "click->toggle-form#showAddress" } } %>
      <%= f.input :lat, as: "hidden", input_html:{value: params[:lat]} %>
      <%= f.input :lon, as: "hidden", input_html:{value: params[:lon]} %>
      <% collection = [
        'utensils',
        'ice-cream',
        'burger',
        'pizza-slice',
        'carrot',
        'mug-hot',
        'martini-glass',
        'beer-mug-empty',
        'bag-shopping',
        'tree',
        'landmark',
        'book',
        'music',
        'gamepad',
        'dice'
        ] %>
        <p>Icon</p>
        <% collection.each do |icon| %>
          <label class="icon_checkbox">
            <input type="radio" value=<%= icon %> name="pin[icon]"><%= "<i class='fa-solid fa-#{icon} px-2'></i>".html_safe %>
          </label>
        <% end %>
        <div class="py-2">
        </div>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <div data-controller="color">
        <%= f.association :tags,
      <p>Icon</p>
      <% collection.each do |icon| %>
        <label class="icon_checkbox">
          <input type="radio" value=<%= icon %> name="pin[icon]"><%= "<i class='fa-solid fa-#{icon} px-2'></i>".html_safe %>
        </label>
      <% end %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.association :tags,
                  as: :check_boxes,
                  collection: current_user.tag_pins,
                  input_html: { class: "tag-selector" },
                  wrapper_html: { data: {color_target: "tags"} },
                  item_wrapper_class: 'tag-item' %>
                  <!-- Button trigger modal -->
        <div class="row justify-content-center p-3">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createtag">Create your tag</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createtag" tabindex="-1" role="dialog" aria-labelledby="createtag" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createtag">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= f.input :tag_list, label: "Add your tag", input_html: { data: {color_target: "name"} } %>
                <label for="favcolor">Select your color </label>
                <input type="color" id="favcolor" name="favcolor" value="#ff0000">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save" class="btn btn-primary" type="button" name="save-details" data-toggle="modal" data-target="#myModalList" data-dismiss="modal" data-action="click->color#add">Save</button>
              </div>
            </div>
          </div>
        </div>
        </div>

            <div class="d-flex justify-content-between px-5 py-3">
              <%= f.input :visited, as: :boolean, input_html: { class: "tag-selector-new" } %>
              <%= f.input :private, as: :boolean, input_html: { class: "tag-selector-new" } %>
        </div>
        <%= f.input :comments %>
        <%= f.input :photo, as: :file %>
        <div class="row justify-content-center p-3">
      <%= f.input :tag_list, label: "Add your tags (separated by a coma)" %>
      <div class="d-flex justify-content-between px-5">
        <%= f.input :visited, as: :boolean, input_html: { class: "tag-selector-new" } %>
        <%= f.input :private, as: :boolean, input_html: { class: "tag-selector-new" } %>
      </div>
      <%= f.input :comments %>
      <%= f.input :photo, as: :file %>
      <div class="row justify-content-center p-3">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
