<div class="row justify-content-center">
  <div class="col-12 col-md-6 px-5 pb-1">
    <h1>Create your new pin</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="p-5" data-controller="toggle-form">
      <%= simple_form_for(@pin) do |f| %>
        <%= f.input :name %>
        <%= f.input :address, input_html: { id: "showAddress"} %>
        <%= f.input :use_current_location, as: :boolean, input_html: { class: "toggle", :data => { action: "click->toggle-form#showAddress" } } %>
        <%= f.input :lat, as: "hidden", input_html:{value: params[:lat]} %>
        <%= f.input :lon, as: "hidden", input_html:{value: params[:lon]} %>
        <% collection = [
        'utensils',
        'ice-cream',
        'burger',
        'pizza-slice',
        'carrot',
        'mug-hot',
        'martini-glass',
        'beer-mug-empty',
        'bag-shopping',
        'tree',
        'landmark',
        'music'
        ] %>
        <% collection.each do |icon| %>
          <label class="icon_checkbox">
            <input type="radio" value=<%= icon %> name="pin[icon]"><%= "<i class='fa-solid fa-#{icon}'></i>".html_safe %>
          </label>
        <% end %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <%= f.association :tags,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
        <%= f.input :tag_list, label: "Add your tags (separated by a coma)" %>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 py-3">
            <div class="d-flex justify-content-between">
              <%= f.input :visited, as: :boolean, input_html: { class: "toggle" } %>
              <%= f.input :private, as: :boolean, input_html: { class: "toggle" } %>
            </div>
          </div>
        </div>
        <%= f.input :comments %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Save", class: "form-button" %>
      <% end %>
    </div>
  </div>
</div>
