<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <img src=<%= @pin.photo %> alt="">
      <h1><%= @pin.name %></h1>
      <br>
      <h4><%= @pin.address %></h4>
      <br>
      <%= simple_form_for(@pin) do |f| %>
      <%= f.association :tags,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mb-3">
      <p>Rating : <%= @pin.rating %>/5</p>
      <p>Comments : <%= @pin.comments %></p>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 py-3">
          <div class="d-flex justify-content-between">
            <%= f.input :visited, as: :boolean, input_html: { class: "toggle" } %>
            <%= f.input :private, as: :boolean, input_html: { class: "toggle" } %>
          </div>
        </div>

      <% end %>
      <a class="btn btn-primary" href="/pins/index" role="button">Back to my pins</a>
      </div>
    </div>
  </div>
</div>
